<launch>
<master auto="start"/>
<!-- Run the map server -->
<node name="map_server" pkg="map_server" type="map_server" args="$(find nav_stack)/map_house.yaml"/>
<!-- Run AMCL -->
<include file="$(find nav_stack)/launch/amcl.launch" />
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
<param name="base_global_planner" value="template_planner_ns/template_planner"/>
<rosparam file="$(find nav_stack)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
<rosparam file="$(find nav_stack)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
<rosparam file="$(find nav_stack)/config/local_costmap_params.yaml" command="load" />
<rosparam file="$(find nav_stack)/config/global_costmap_params.yaml" command="load" />
<rosparam file="$(find nav_stack)/config/base_local_planner_params.yaml" command="load" />
</node>
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find nav_stack)/../nav.rviz" />
</launch> 
